body {
    min-height: 100vh;
    margin: 0px;
    font-family: Sans-serif;
    font-size: 16px;
}

.container-fluid {
    padding: 0px !important;
}

header {
    font-size: 30px;
    color: #3b4b52;
}

form input {
    width: 100%;
}

.error {
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 16px;
    background-color: #c93329;
    padding: 5px 15px;
}


.form-group {
    position: relative;
}

.form-group i {
    position: absolute;
    top: 60%;
    right: 10px;
}

.submitBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;

}
/*Memeber*/


    .talkBubbleRole {
        width: 300px;
        left: 25px;
        background: #0A1118;
        color: white;
        position: relative;
        border-radius:  10px;
        margin-top: 15px;
        padding: 15px;
    }

    .talkBubbleChat {
        width: 200px;
        height: 100%;
        background-color: #7143F8;
        position: relative;
        color: white;
        border-radius: 10px ;
        margin-top: 15px;
        margin-right: 25px;
        padding: 15px;
    }

    .inputBubble {
        width: 100%;
        border-radius: 10px;
    }

    .inputBtn {
        height: 30px;
        width: 30px;
        object-fit: cover;
        margin-left: 10px;
        border-radius: 15px;
        background-color: purple;
    }

    .card {
        border-radius: 20px;
    }



    .text {
        transform: skewX(-45deg);
    }

    .chatBG{
        background-image: url('img/banner%E2%80%94%E2%80%94fb.png');
        background-attachment: local;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .sekaiIcon{
        width:250px;height:250px;z-index:3;border: 1px solid black;
    }
